<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin:12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:16px;
  }
  .button:hover{
  background-color:red;
  }
    </style>
    <title>IT</title>
    
</head>
<body>
    <div>
<a href="./IT 3-1 CS & Syllabus_UG_R20.pdf" class="button" target="_blank"><b>SYLLABUS</b></a>
<a href="./materials.ejs" class="button" target="_blank"><b>MATERIALS</b></a>
<a href="./attendence.ejs" class="button" target="_blank"><b>ATTENDENCE</b></a>
<a href="#" class="button" target="_blank"><b>CGPA</b></a>
<a href="#" class="button" target="_blank"><b>ADDITIONAL INFORMATION</b></a>
    </div>
</body>
</html>